* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
  } 
  
  
  /* your CSS below! */
  
#playerstable {
  height: 30px;
    width: 6000px;
}
  #playercell  #player1message #player2message {
    /* height: 30px;
    width: 6000px; */
    background-color: lightskyblue;
    /* margin: 5px; */
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  /* .tictable {
  background-color: darkolivegreen;
  border: solid 20px #000;
  padding: 20px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
         } */

  /* .playersarea {
    padding: 20px;
  width: 500px;
  height: 200px;
  display: flex;
  background-color: darkolivegreen;

  } */


  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  .beige {
    background-color: beige;
  }

  td {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    margin: 5px;
    text-align: center;
  }
  